:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


.layout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /* 전체 화면 높이 사용 */
}

.mobile-frame-area {
    width: 100%;
    flex-grow: 1;
    z-index: 10;
}

.mobile-content-wrapper {
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

.promo-area-pc {
    display: none;
}

/* ================================================= */
/* PC 화면 (min-width: 768px 이상) 스타일 */
/* ================================================= */
@media (min-width: 768px) {
    .layout-container {
        flex-direction: row;
        width: 100%;
        height: 100vh;
        align-items: stretch;
        overflow: hidden;
    }

    .mobile-frame-area {
        position: relative;
        width: 440px;
        height: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #f7f7f7;
    }

    .mobile-content-wrapper {
        padding: 20px 20px;
        height: 100%;
        overflow-y: auto;
        background-color: var(--background);
    }

    .promo-area-pc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: calc(100% - 440px);
        background-color: #f0f8ff;

        padding: 40px 0 40px 50px;
    }

    .promo-content {
        max-width: 900px;
        width: 100%;
    }
}
